# .env
PYTHONPATH=/home/username/DrebinFeatureExtractor/src
AAPT_PATH=/home/username/Android/Sdk/build-tools/36.0.0/aapt # Set the path to the aapt tool in the Android SDK
BAKSMALI_PATH=tools/baksmali-3.0.9.jar
CONSOLE_LOGGING=True
DEBUG=True